.container{
    color : black;
} 

h1{
    text-align: center;
}

label{
    margin-left: 5%;
}

body
{ 
   width:100%;
   margin:auto;
  max-width:965px;
  font-size: 100%
}

.img-fluid{
    max-width: 100px; 
    height: 100px; 
}